<div class="fluid-container">
    <div ng-include="'app/templates/header.html'"></div>
    <div class="row">
        <div class="col-md-2">
            <div ng-include="'app/templates/sidebar.html'"></div>
        </div>
        <div class="col-md-10 ">
        	<div class="row">
				<div class="col-md-12">
					<div class="col-md-12  pb-3 row">
						<div class="col-md-12  pb-3 row">
							<div class="col-md-4">
								<h4>Estudio Antecedentes</h4>
								<hr>
							</div>
							<div class="col-md-4 offset-md-4 text-right">
								<button type="button" class="btn btn-info" ng-click="vm.eliminar()"><i class="fas fa-trash-alt"></i></button>
							</div>
							
						</div>
						<div class="col-md-12  pb-3">
							<div class="progress">
							  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ wizardMeta.activeStep * 25 }}%;" aria-valuenow="{{ wizardMeta.activeStep }}" aria-valuemin="0" aria-valuemax="{{ wizardMeta.totalSteps }}">{{ wizardMeta.activeStep * 25 }}%</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 pt-2">
					
					<wiz-form wizard-meta="wizardMeta" on-finish="vm.update()">
					    <wiz-step>
					        <div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<label class="title"><span class="required">*</span>Finca: (<small class="text-muted">7 Dígitos</small>)</label>
											<input type="text" maxlength="7" ng-model="vm.antecedentes.finca" class="form-control" required>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label class="title">Duplicado: (<small class="text-muted">1 Dígito</small>)</label>
											<input type="text" maxlength="1" ng-model="vm.antecedentes.d" class="form-control">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label class="title">Derecho:</label>
											<input type="text"  ng-model="vm.antecedentes.derecho" class="form-control">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label class="title"><span class="required">*</span>Identificador Predial: (<small class="text-muted">14 Dígitos</small>)</label>
											<input type="text" maxlength="14" ng-model="vm.antecedentes.identificadorPredial"class="form-control">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label class="title">Plano: (<small class="text-muted">12 Dígitos</small>)</label>
											<input type="text" maxlength="12" ng-model="vm.antecedentes.plano" class="form-control">
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label class="title">Área:</label>
											<input type="text" ng-model="vm.antecedentes.area" class="form-control">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label class="title"><span class="required">*</span>Cantón:</label>
											<select class="custom-control custom-select" ng-change="vm.selecDistritos()" ng-model="vm.antecedentes.canton">
												<option  ng-repeat="c in vm.cantones" value="{{c.id}}">{{c.canton}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label class="title"><span class="required">*</span>Distrito:</label>
											<select class="custom-control custom-select" ng-model="vm.antecedentes.distrito">
												<option  ng-repeat="d in vm.distritos" value="{{d.id}}" >{{d.distrito}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label class="title"><span class="required">*</span>Inscripción:</label>
											<input type="text" class="form-control" ng-model="vm.antecedentes.inscripcion" 
											datetime="dd-MM-yyyy" datetime-timezone="+0000">
										</div>
									</div>

									<div class="col-md-2">
										<div class="form-group">
											<label class="title">Tomo: (<small class="text-muted">4 Dígitos</small>)</label>
											<input type="text" maxlength="4" ng-model="vm.antecedentes.tomo" class="form-control">
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label class="title">Folio: (<small class="text-muted">3 Dígitos</small>)</label>
											<input type="text" maxlength="3" ng-model="vm.antecedentes.folio" class="form-control">
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label class="title">Asiento: (<small class="text-muted">3 Dígitos</small>)</label>
											<input type="text"  maxlength="3" ng-model="vm.antecedentes.asiento" class="form-control">
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label class="title">Matricula: (<small class="text-muted">7 Dígitos</small>)</label>
											<input type="text"  maxlength="7" ng-model="vm.antecedentes.matricula" class="form-control">
										</div>
									</div>
								
								</div>
					    </wiz-step>
					    <wiz-step>
					        
					        <div class="row">
									<div class="col-md-12 row">
										<div class="col-md-3">
											<div class="title"><span class="required">*</span>Nace por:</div>
										</div>
										<div class="col-md-5">
											<div class="form-check" ng-repeat="r in vm.razones">
												<label class="form-check-label">
											    	<input type="checkbox"  ng-checked="vm.valueRazones == r.id"  ng-click="vm.selectCheck(r,'razones')" class="form-check-input" >{{r.razon}} <input type="text" ng-if="r.id == 12" ng-model="vm.antecedentes.otrarazon" ng-disabled="vm.selectOtro" class="text-left form-control form-control-sm">
											 	</label>
											</div>
										</div>
									</div>

									<div class="col-md-12 row pt-4">
										<div class="col-md-3">
											<div class="title"><span class="required">*</span>PARAMETRO DE ANALISIS INSCRIPCION DE LA FINCA:</div>
										</div>
										<div class="col-md-5">
											<div class="form-check" ng-repeat="p in vm.parametrosInscripcion">
												<label class="form-check-label">
											    	<input type="checkbox" ng-checked="vm.valueParametro == p.id" ng-click="vm.selectCheck(p,'parametros')" class="form-check-input" >
											    	{{p.parametro}}
											 	</label>
											</div>
										</div>
										 <div class="form-group col-md-4 text-left"  ng-if="vm.valueParametro == 3">
											<label ng-if="vm.valueParametro == 3">Justifique</label>
										    <input type="text" ng-model="vm.antecedentes.opcParametro" class="text-left form-control form-control-sm">
										 </div>
									</div>
								</div>
					    </wiz-step>
					    <wiz-step>
					        <div class="row">
									<div class="col-md-12 row">
										<div class="col-md-4">
											<div class="title">Otorgamiento:</div>
										</div>
										<div class="col-md-4">
											<input type="text" class="form-control" ng-model="vm.antecedentes.otorgamiento" datetime="dd-MM-yyyy" datetime-timezone="+0000">
										</div>
									</div>
									<div class="col-md-12 row" >
										<div class="col-md-4 py-2">
											<div class="title">Presentación:</div>
										</div>
										<div class="col-md-4 py-2">
											<input type="text" class="form-control" ng-model="vm.antecedentes.presentacion" datetime="dd-MM-yyyy" datetime-timezone="+0000">
										</div>
									</div>

									<div class="col-md-12 row">
										<div class="col-md-4">
											<div class="title">Plazo de convalidación:</div>
										</div>
										<div class="col-md-4">
											<input type="text" ng-model="vm.antecedentes.plazo" class="form-control form-control-sm">
										</div>
									</div>

									<div class="col-md-12 row pt-2">
										<div class="col-md-4">
											<div class="title">Notario:</div>
										</div>
										<div class="col-md-4">
											<input type="text" ng-model="vm.antecedentes.notario" class="form-control form-control-sm">
										</div>
									</div>

									<div class="col-md-12 row pt-2">
										<div class="col-md-4">
											<div class="title">Juzgado:</div>
										</div>
										<div class="col-md-4">
											<input type="text" ng-model="vm.antecedentes.juzgado" class="form-control form-control-sm">
										</div>
									</div>

									<div class="col-md-12 row pt-2">
										<div class="col-md-4">
											<div class="title">Expediente Número:</div>
										</div>
										<div class="col-md-4">
											<input type="text" ng-model="vm.antecedentes.numExpediente" class="form-control form-control-sm">
										</div>
									</div>

									<div class="col-md-12 row pt-3">
										<div class="col-md-3">
											<div class="form-group row">
												<label class="title col-sm-3" style="padding: 0px;">Tomo:</label>
												<input type="text" maxlength="4" ng-model="vm.antecedentes.ntomo" class="form-control form-control-sm col-sm-7">
											</div>
										</div>
										<div class="col-md-5">
											<div class="form-group row">
												<label class="title col-sm-3" style="padding: 0px;">Asiento:</label>
												<input type="text" maxlength="6" ng-model="vm.antecedentes.nasiento" class="form-control form-control-sm  col-sm-4" style="margin-left: -15px;">
											</div>
										</div>
									</div>

									<div class="col-md-12 row pt-2">
										<div class="col-md-4">
											<div class="title"><span class="required">*</span>Propietario Original:</div>
										</div>
										<div class="col-md-4">
											<input type="text" ng-model="vm.antecedentes.propietario" class="form-control form-control-sm">
										</div>
									</div>

									<div class="col-md-12 row pt-2">
										<div class="col-md-4">
											<div class="title"><span class="required">*</span>Propietario Actual:</div>
										</div>
										<div class="col-md-4">
											<input type="text"  ng-model="vm.antecedentes.propietarioA" class="form-control form-control-sm">
										</div>
									</div>
								</div>
					    </wiz-step>
					    <wiz-step>
					        <div class="row">
									<div class="col-md-12 text-center">
										<h5>Movimientos Históricos de la Finca</h5>
										<h6>Posteriores a su inscripción(Orden Cronológico)</h6>
									</div>
									<div class="col-md-12 pt-3 text-center">
										<table class="table table-bordered">
											<tbody>
												<tr ng-repeat="mv in vm.antecedentes.movHistoricos">
													<td>{{$index+1}}</td>
													<td>
														<input type="text" class="form-control" ng-model="mv.mov">
													</td>
												</tr>
											</tbody>
										</table>
										<div class="text-right">
											<button type="button" class="btn btn-link" ng-click="vm.addNewMovH()">Nuevo</button>
										</div>
									</div>
								</div>
					    </wiz-step>
					    <wiz-step>
					        <div class="row">
									<div class="col-md-12 text-center">
										<h5>Informe Legal</h5>
									</div>
									<div class="col-md-12 row">
										<div class="col-md-3">
											<div class="title">
												Hechos relevantes y tipologia:
											</div>
										</div>
										<div class="col-md-9 row">
											<div class="col-md-3">
												<div class="title">Traslape con ASP
												</div>
											</div>
											<div class="col-md-9">
												<div class="form-check" ng-repeat="t in vm.traslapes">
													<label class="form-check-label" ng-if="t.tipo == 'asp'">
												    	<input type="checkbox"  ng-checked="vm.valueTraslape == t.id" ng-click="vm.selectCheck(t,'traslapes')" class="form-check-input" >
												    	{{t.traslape}}
												 	</label>
												</div>
											</div>
											<div></div>
											<div class="col-md-12">
												<div class="form-check" ng-repeat="t in vm.traslapes">
													<label class="form-check-label" ng-if="t.tipo == 'traslape'">
												    	<input type="checkbox" ng-checked="vm.valueTraslape == t.id" ng-click="vm.selectCheck(t,'traslapes')" class="form-check-input" >
												    	{{t.traslape}}
												 	</label>
												 	<div class="form-group col-md-4 text-left"  ng-if="t.id == 10" style="padding: 0px;">
													    <input type="text" ng-disabled="vm.selectOtroT" ng-model="vm.antecedentes.Traslaperazon" class="text-left form-control form-control-sm">
													 </div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12 row pt-2">
										<div class="col-md-4">
											<div class="title">Porcentaje del área de traslape:</div>
										</div>
										<div class="col-md-2">
											<input type="text" ng-model="vm.antecedentes.area_traslape" class="form-control form-control-sm">
										</div>
									</div>
									<div class="col-md-12 row ">
										<div class="col-md-4 pt-2" >
											<div class="title">Forma parte del PNE:</div>
										</div>
										<div class="col-md-4 pt-2">
											<div class="form-check form-check-inline">
											  <input class="form-check-input" ng-model="vm.antecedentes.pne" type="radio" name="pne" id="inlineRadio1" value="si">
											  <label class="form-check-label" for="inlineRadio1">SI</label>
											</div>
											<div class="form-check form-check-inline">
											  <input class="form-check-input" ng-model="vm.antecedentes.pne" type="radio" name="pne" id="inlineRadio2" value="no">
											  <label class="form-check-label" for="inlineRadio2">NO</label>
											</div>
										</div>
									</div>
									<div class="col-md-12 row pt-4">
										<div class="col-md-4  pt-2">
											<div class="title"><span class="required">*</span>Finca inscrita a derecho:</div>
										</div>
										<div class="col-md-4  pt-2">
											<div class="form-check form-check-inline">
											  <input class="form-check-input" ng-model="vm.antecedentes.finca_inscrita_derecho" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="si">
											  <label class="form-check-label" for="inlineRadio1">SI</label>
											</div>
											<div class="form-check form-check-inline">
											  <input class="form-check-input" ng-model="vm.antecedentes.finca_inscrita_derecho" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="no">
											  <label class="form-check-label" for="inlineRadio2">NO</label>
											</div>
										</div>
									</div>
									<div class="col-md-12 row pt-2">
										<div class="col-md-4">
											<div class="title">Análisis jurídico del caso:</div>
										</div>
										<div class="col-md-8">
											<textarea class="form-control" ng-model="vm.antecedentes.analisisCaso" cols="4" rows="4"> </textarea>
										</div>
									</div>
									<div class="col-md-12 row pt-2">
										<div class="col-md-4">
											<div class="title">Recomendación legal:</div>
										</div>
										<div class="col-md-8">
											<textarea class="form-control" ng-model="vm.antecedentes.recomendacionLegal" cols="4" rows="4"> </textarea>
										</div>
									</div>
									<div class="col-md-12 row pt-2">
										<div class="col-md-4">
											<div class="title"><span class="required">*</span>Asesor responsable / Historial registral:</div>
										</div>
										<div class="col-md-8">
											<input type="text" ng-model="vm.antecedentes.asesorRegistral" class="form-control form-control-sm">
										</div>
									</div>
									<div class="col-md-12 row pt-2">
										<div class="col-md-4">
											<div class="title">Asesor responsable / Análisis legal:</div>
										</div>
										<div class="col-md-8">
											<input type="text" ng-model="vm.antecedentes.asesorLegal" class="form-control form-control-sm">
										</div>
									</div>
								</div>
					    </wiz-step>
					</wiz-form>
					</div>
				</div>
        	</div>
    	</div>
    </div>

    