<div ng-include="'app/header/header.html'"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12 py-5">
				<h4>Estudio Antecendentes</h4>
				<hr>
			</div>
			<wizard on-finish="vm.send()">
				<wz-step wz-title="Paso 1">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label class="title">Finca: (<small class="text-muted">7 Dígitos</small>)</label>
								<input type="text" maxlength="7" ng-model="vm.antecedentes.finca" class="form-control">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="title">D: (<small class="text-muted">1 Dígito</small>)</label>
								<input type="text" maxlength="1" class="form-control">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="title">Derecho: (<small class="text-muted">3 Dígitos</small>)</label>
								<input type="text" maxlength="3" class="form-control">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="title">Identificador Predial: (<small class="text-muted">7 Dígitos</small>)</label>
								<input type="text" maxlength="7" class="form-control">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="title">Plano: (<small class="text-muted">12 Dígitos</small>)</label>
								<input type="text" maxlength="12" class="form-control">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="title">Área: (<small class="text-muted">8 Dígitos</small>)</label>
								<input type="text" maxlength="8" class="form-control">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="title">Cantón:</label>
								<select class="custom-control custom-select" ng-change="vm.selecDistritos()" ng-model="vm.antecedentes.canton">
									<option  ng-repeat="c in vm.cantones" value="{{c.id}}">{{c.canton}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="title">Distrito:</label>
								<select class="custom-control custom-select" ng-model="vm.antecedentes.distrito">
									<option  ng-repeat="d in vm.distritos" value="{{d.id}}" >{{d.distrito}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="title">Inscripción: </label>
								<input type="date" class="form-control form-control-sm">
							</div>
						</div>

						<div class="col-md-2">
							<div class="form-group">
								<label class="title">Tomo: (<small class="text-muted">4 Digitos</small>)</label>
								<input type="text" maxlength="4" class="form-control">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="title">Folio: (<small class="text-muted">3 Digitos</small>)</label>
								<input type="text" maxlength="3" class="form-control">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="title">Asiento: (<small class="text-muted">3 Digitos</small>)</label>
								<input type="text"  maxlength="3" class="form-control">
							</div>
						</div>
						<div class="col-md-12 text-right pt-4">
							<input type="submit" wz-next value="Paso 2"/>	
						</div>
					</div>
				</wz-step>
				<wz-step wz-title="Paso 2">
					<div class="row">
						<div class="col-md-12 row">
							<div class="col-md-2">
								<div class="title">Nace por: </div>
							</div>
							<div class="col-md-10 ">
								<div class="form-check" ng-repeat="r in vm.razones">
									<div class="row">
										<div class="col-md-5">
											<label class="form-check-label">
										    	<input type="checkbox" class="form-check-input" value="{{r.id}}" ng-click="vm.chooseRazon()" ng-model="r.checked" >{{r.razon}}
										 	</label>
										</div>
										<div class="col-md-7 row" style="padding:0px" ng-if="r.checked && r.id == 2 || r.checked && r.id == 12">
											<label ng-if="r.id == 2" class="col-md-4 text-right">No.Expediente</label>
											<label ng-if="r.id == 12" class="col-md-4 text-right">Otra</label>
											<input type="text" ng-model="vm.antecedentes.razon" placeholder="" class="text-left form-control form-control-sm col-md-8">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12 row pt-4">
							<div class="col-md-4">
								<div class="title">Otorgamiento:</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col col-md-3 title" style="padding:0px">Hora: </label>
									<input type="time" class="form-control form-control-sm  col-md-9">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col col-md-3 title">Fecha: </label>
									<input type="date" class="form-control form-control-sm  col-md-9">
								</div>
							</div>
						</div>

						<div class="col-md-12 row" >
							<div class="col-md-4">
								<div class="title">Presentación:</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col col-md-3 title" style="padding:0px">Hora: </label>
									<input type="time" class="form-control form-control-sm  col-md-9">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col col-md-3 title">Fecha: </label>
									<input type="date" class="form-control form-control-sm  col-md-9">
								</div>
							</div>
						</div>

						<div class="col-md-12 row">
							<div class="col-md-4">
								<div class="title">Plazo de convalidación:</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control form-control-sm">
							</div>
						</div>

						<div class="col-md-12 row pt-4">
							<div class="col-md-4">
								<div class="title">Ejecutoria del Juzgado:</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col col-md-3 title" style="padding:0px">Hora: </label>
									<input type="time" class="form-control form-control-sm  col-md-9">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col col-md-3 title">Fecha: </label>
									<input type="date" class="form-control form-control-sm  col-md-9">
								</div>
							</div>
						</div>

						<div class="col-md-12 row pt-2">
							<div class="col-md-4">
								<div class="title">Notario:</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control form-control-sm">
							</div>
						</div>

						<div class="col-md-12 row pt-2">
							<div class="col-md-4">
								<div class="title">Juzgado:</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control form-control-sm">
							</div>
						</div>

						<div class="col-md-12 row pt-2">
							<div class="col-md-4">
								<div class="title">Expediente Número:</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control form-control-sm">
							</div>
						</div>

						<div class="col-md-12 row pt-2">
							<div class="col-md-4">
								<div class="title">Propietario Original:</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control form-control-sm">
							</div>
						</div>

						<div class="col-md-12 row pt-2">
							<div class="col-md-4">
								<div class="title">Propietario Actual:</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control form-control-sm">
							</div>
						</div>

						<div class="col-md-12 text-right pt-4">
							<input type="submit" wz-next value="Paso 3" />
						</div>
					</div>
				</wz-step>
				<wz-step wz-title="Paso 3">
					<div class="row">
						<div class="col-md-12 text-center">
							<h5>Movimientos Históricos de la Finca</h5>
							<h6>Posteriores a su inscripción(Orden Cronológico)</h6>
						</div>

						<div class="col-md-12 text-right pt-4">
							<input type="submit" wz-next value="Paso 4" />
						</div>
					</div>
				</wz-step>
				<wz-step wz-title="Paso 4">
					<div class="row">
						<div class="col-md-12 text-center">
							<h5>Informe Legal</h5>
						</div>

						<div class="col-md-12 text-right pt-4">
							<input type="submit" wz-next value="Guardar" />
						</div>
					</div>
				</wz-step>
			</wizard>
			</div>
			</div>
</div>