<nav class="navbar navbar-default">
	<div class="container-fluid"> 
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a  ui-sref="home" class="navbar-brand">JAPDEVA</a>
		</div>
		<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
			 <ul class="nav navbar-nav navbar-right">
			 	<li><a  ui-sref="home" class="navbar-link">Inicio</a></li>
			 	<li><a  ui-sref="add" class="navbar-link">Nuevo</a></li>
				<li><a  ng-click="vm.exit()" class="navbar-link">Salir ({{vm.infoUser.usuario}})</a></li>
		    </ul>
		</div>
	</div>
</nav>