<div class="boxlogin text-center">
	<h1 style="color:rgb(255, 255, 255);">Bienvenido</h1>
	<form class="form-signin" ng-submit="vm.login()">
      <label for="inputEmail" class="sr-only">Usuario</label>
      <input type="text" id="inputEmail" class="form-control" ng-model="vm.infoUser.user" placeholder="Usuario" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input type="password" id="inputPassword" class="form-control"  ng-model="vm.infoUser.pass" placeholder="Contraseña" required="">
      <div class="checkbox mb-3">
        <label>
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>

    </form>
</div>

