<nav class="navbar navbar-expand-md bg-light navbar-light">
       <div class="logo">
        <a class="simple-text"></a>
      </div>
      <button class="navbar-toggler navbar-toggler-right" type="button" ng-click="isNavCollapsed = !isNavCollapsed" data-toggle="collapse" data-target="#navbar2SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" uib-collapse="!isNavCollapsed">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link">Bienvenido: {{vm.infoUser.nombre}}</a>
          </li>
        </ul>
      </div>
</nav>
