<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header bg-light">
      <img class="img-fluid d-block" src="assets/logo.png">
    </div>
    <ul class="list-unstyled components">
      <li>
        <a ui-sref="home"><i class="far fa-list-alt"></i> Formulario de Ingresados</a>
      </li>
      <li>
        <a ui-sref="form-new"><i class="fas fa-plus"></i> Agregar Formulario</a>
      </li>
      <li ng-if="vm.infoUser.idrole == 1">
        <a ui-sref="activity"><i class="far fa-file"></i> Registro de actividad</a>
      </li>
      <li>
        <a ng-click="vm.exit()"><i class="fas fa-sign-out-alt"></i> Salir</a>
      </li>
    </ul>
  </nav>
</div>